body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-weight: bold;
}

#newsList .card {
  margin-bottom: 15px;
}
img.slider-photo {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
img.slider-photo {
  filter: brightness(0.95) contrast(1.1) saturate(1.05);
}
